<body class="a">
  
<p>sign-result2 works!</p>
<form [formGroup]='updatepersonForm' (ngSubmit)='sendForm()'>

  <div class="form-group b">
    <label >year</label>
    <input formControlName='year' class="form-control"  placeholder="year">
  </div>
<div class="form-group b">
    <label >age</label>
    <input formControlName='age' class="form-control"  placeholder="age">
  </div>
<select  formControlName='country' class="form-control"  placeholder="Country" class="form-select b" aria-label="Default select example">
    <option selected>Country</option>
    <option value="1">Israel</option>
    <option value="2">Britain</option>
    <option value="3">France</option>
  </select>
  <select formControlName='city' class="form-control"  placeholder="City" class="form-select b" aria-label="Default select example">
    <option selected>City</option>
    <option value="1">jerusalem</option>
    <option value="2">London</option>
    <option value="3">Paris</option>
  </select>
  <select formControlName='academic' class="form-control"  placeholder="Academic institution" class="form-select b" aria-label="Default select example">
    <option value="0" selected>Academic institution</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <div class="form-group b">
    <button >NEXT</button>
  </div>
</form>
</body>